@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
}

body{
  color: #eee;
  font-family: 'Press Start 2P', sans-serif;
  background-color: #FFD365;
}
.layer0{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.layer1 {
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

header, main, footer{
  background: #222;
  width: 60%;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header p {
  margin: 10px;
}

header h1 {
  color: yellow;
  margin: 10px;
  font-size: 20px;
}
.secretNumber {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #eee;
  color: #222;
  margin: 20px;
  font-size: 45px;
}

main {
  justify-content: space-around;
}

main input {
  padding: 10px;
  width: 200px;
  margin: 10px;
}

.guessedNumber {
  font-family: inherit;
}
.guessedNumber::placeholder{
  font-family: 'Press Start 2P', sans-serif;
  font-size: 10px;
}
main p {
  margin: 10px;
}
.message {
  color: yellow;
}

.highscore {
  color: rgb(212, 85, 212);
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 4px;
  margin: 8px;
  width: 100px;
  height: 40px;
  color: white;
  font-size: 12px;
  font-family: 'Press Start 2P', sans-serif;

}

.again {
  background-color: rgb(0, 81, 255);
  width: 150px;
}
.check {
  background-color: green;
}

@media only screen and (max-width: 600px) {
  main input {
    padding: 5px;
    width: 100px;
    margin: 5px;
  }

  .guessedNumber::placeholder{
    font-family: inherit;
    font-size: 6px;
  }

  header h1 {
    font-size: 20px;
  }

  .layer1 {
    width: 90%;
    height: 80vh;
  }

  header, main, footer{
    width: 75%;
    padding: 2px;
  }
  main p {
    margin: 14px;
    font-size: 10px;
  }

  .again {
    margin: 0;
  }
}